# AVOCADO Price data

In [1]:
# Import Important Library
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("avocado.csv")

In [3]:
data = data.drop(columns=['Unnamed: 0','type'])
data["Total_lot"] = ((data["4046"] + data["4225"] + data["4770"]))
data["Income"] = ((data["AveragePrice"] * data["Total Volume"]))
data['month'] = pd.DatetimeIndex(data['Date']).month
data = data.replace({"month":{
    1 : "1.January",
    2 : "2.Febuary",
    3 : "3.March",
    4 : "4.April",
    5 : "5.May",
    6 : "6.June",
    7 : "7.July",
    8 : "8.August",
    9 : "9.September",
    10 : "10.October",
    11 : "11.November",
    12 : "12.December"
}})

In [4]:
data = data[['region','year','month','Date', 'AveragePrice','Income','Total Volume','Total_lot', '4046', '4225', '4770',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags']]

In [5]:
data = data.drop(columns=['Date'])

In [6]:
data.head(10)

,region,year,month,AveragePrice,Income,Total Volume,Total_lot,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
0,Albany,2015,12.December,1.33,85434.7046,64236.62,55539.75,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0
1,Albany,2015,12.December,1.35,74083.9230,54876.98,45371.42,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0
2,Albany,2015,12.December,0.93,109944.8046,118220.22,110074.87,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0
3,Albany,2015,12.December,1.08,85311.5220,78992.15,73180.99,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0
4,Albany,2015,11.November,1.28,65330.6880,51039.60,44855.65,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0
5,Albany,2015,11.November,1.26,70534.5228,55979.78,49295.87,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0
6,Albany,2015,11.November,0.99,82619.2224,83453.76,75134.90,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.0
7,Albany,2015,11.November,0.98,107239.7634,109428.33,102599.11,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.0
8,Albany,2015,11.November,1.02,101807.6484,99811.42,88423.06,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.0
9,Albany,2015,10.October,1.07,79542.4732,74338.76,65712.84,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.0

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        18249 non-null  object
 1   year          18249 non-null  int64
 2   month         18249 non-null  object
 3   AveragePrice  18249 non-null  float64
 4   Income        18249 non-null  float64
 5   Total Volume  18249 non-null  float64
 6   Total_lot     18249 non-null  float64
 7   4046          18249 non-null  float64
 8   4225          18249 non-null  float64
 9   4770          18249 non-null  float64
 10  Total Bags    18249 non-null  float64
 11  Small Bags    18249 non-null  float64
 12  Large Bags    18249 non-null  float64
 13  XLarge Bags   18249 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 1.9+ MB

In [39]:
data.describe()

,year,AveragePrice,Income,Total Volume,Total_lot,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000
mean,2016.147899,1.405978,9.279484e+05,8.506440e+05,6.110027e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507
std,0.939938,0.402677,3.686048e+06,3.453545e+06,2.517799e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652
min,2015.000000,0.440000,1.344504e+02,8.456000e+01,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2015.000000,1.100000,1.716418e+04,1.083858e+04,4.972720e+03,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000
50%,2016.000000,1.370000,1.395298e+05,1.073768e+05,5.819536e+04,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000
75%,2017.000000,1.660000,5.141914e+05,4.329623e+05,3.078016e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000
max,2018.000000,3.250000,5.437991e+07,6.250565e+07,4.473616e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000

### 1)Which region sold the largest amount of avocado ?

In [21]:
data.groupby('region').sum()['Total Volume']
# region: TotalUS

region
Albany                 1.606780e+07
Atlanta                8.860512e+07
BaltimoreWashington    1.347139e+08
Boise                  1.441319e+07
Boston                 9.727398e+07
BuffaloRochester       2.296247e+07
California             1.028982e+09
Charlotte              3.555554e+07
Chicago                1.337023e+08
CincinnatiDayton       4.452201e+07
Columbus               2.999336e+07
DallasFtWorth          2.084193e+08
Denver                 1.389025e+08
Detroit                6.342242e+07
GrandRapids            3.021174e+07
GreatLakes             5.896425e+08
HarrisburgScranton     4.180886e+07
HartfordSpringfield    5.067054e+07
Houston                2.031679e+08
Indianapolis           3.026339e+07
Jacksonville           2.879000e+07
LasVegas               5.437691e+07
LosAngeles             5.078965e+08
Louisville             1.609700e+07
MiamiFtLauderdale      9.767322e+07
Midsouth               5.083494e+08
Nashville              3.561209e+07
NewOrleansMobile       4.569514e+07
NewYork                2.407341e+08
Northeast              7.132809e+08
NorthernNewEngland     7.153289e+07
Orlando                5.866070e+07
Philadelphia           7.183880e+07
PhoenixTucson          1.956433e+08
Pittsburgh             1.880635e+07
Plains                 3.111885e+08
Portland               1.105522e+08
RaleighGreensboro      4.820273e+07
RichmondNorfolk        4.223085e+07
Roanoke                2.504201e+07
Sacramento             7.516375e+07
SanDiego               8.979192e+07
SanFrancisco           1.358302e+08
Seattle                1.092142e+08
SouthCarolina          6.075377e+07
SouthCentral           1.011280e+09
Southeast              6.152384e+08
Spokane                1.556528e+07
StLouis                3.207283e+07
Syracuse               1.094267e+07
Tampa                  6.600454e+07
TotalUS                5.864740e+09
West                   1.086779e+09
WestTexNewMexico       1.445218e+08
Name: Total Volume, dtype: float64

In [22]:
data.groupby('region').sum()['Total Volume'].max()
# region: TotalUS

5864740181.800002

### In this region, where the biggest lot of sold avocado came from (4046, 4225, 4770) ?

In [23]:
data.groupby('region').sum()['Total_lot']
# region: TotalUS

region
Albany                 1.338755e+07
Atlanta                6.004461e+07
BaltimoreWashington    9.940777e+07
Boise                  9.013777e+06
Boston                 7.577851e+07
BuffaloRochester       1.135172e+07
California             7.822995e+08
Charlotte              2.385760e+07
Chicago                1.168369e+08
CincinnatiDayton       2.362337e+07
Columbus               1.997688e+07
DallasFtWorth          1.619495e+08
Denver                 7.994553e+07
Detroit                3.916013e+07
GrandRapids            2.104263e+07
GreatLakes             4.110507e+08
HarrisburgScranton     2.827960e+07
HartfordSpringfield    3.933753e+07
Houston                1.529528e+08
Indianapolis           1.828051e+07
Jacksonville           1.907188e+07
LasVegas               3.632391e+07
LosAngeles             3.396320e+08
Louisville             9.461716e+06
MiamiFtLauderdale      7.415678e+07
Midsouth               3.518357e+08
Nashville              2.264492e+07
NewOrleansMobile       3.142620e+07
NewYork                1.727400e+08
Northeast              5.162925e+08
NorthernNewEngland     5.762787e+07
Orlando                4.179906e+07
Philadelphia           4.796357e+07
PhoenixTucson          1.567351e+08
Pittsburgh             1.156088e+07
Plains                 2.333412e+08
Portland               6.104785e+07
RaleighGreensboro      3.252605e+07
RichmondNorfolk        2.972262e+07
Roanoke                1.545102e+07
Sacramento             6.618148e+07
SanDiego               6.644925e+07
SanFrancisco           1.209393e+08
Seattle                5.852278e+07
SouthCarolina          4.260060e+07
SouthCentral           7.778872e+08
Southeast              4.337108e+08
Spokane                9.310900e+06
StLouis                1.733680e+07
Syracuse               6.750240e+06
Tampa                  4.650785e+07
TotalUS                4.226123e+09
West                   7.197055e+08
WestTexNewMexico       1.092253e+08
Name: Total_lot, dtype: float64

In [24]:
data.groupby('region').sum()['Total_lot'].max()
# region: TotalUS

4226122969.340002

### 2)Which region sold the smallest amount of avocado ?

In [26]:
data.groupby('region').sum()['Total Volume'].min()
# region: Syracuse

10942667.680000002

### In this region, where the smallest lot of sold avocado came from (4046, 4225, 4770) ?

In [25]:
data.groupby('region').sum()['Total_lot'].min()
# region: Syracuse

6750240.23

### 3) Which region sold the highest price of avocado in average ?

In [27]:
data.groupby('region').mean()['AveragePrice']

region
Albany                 1.561036
Atlanta                1.337959
BaltimoreWashington    1.534231
Boise                  1.348136
Boston                 1.530888
BuffaloRochester       1.516834
California             1.395325
Charlotte              1.606036
Chicago                1.556775
CincinnatiDayton       1.209201
Columbus               1.252781
DallasFtWorth          1.085592
Denver                 1.218580
Detroit                1.276095
GrandRapids            1.505000
GreatLakes             1.338550
HarrisburgScranton     1.513284
HartfordSpringfield    1.818639
Houston                1.047929
Indianapolis           1.313994
Jacksonville           1.510947
LasVegas               1.380917
LosAngeles             1.216006
Louisville             1.286686
MiamiFtLauderdale      1.428491
Midsouth               1.404763
Nashville              1.212101
NewOrleansMobile       1.304793
NewYork                1.727574
Northeast              1.601923
NorthernNewEngland     1.477396
Orlando                1.506213
Philadelphia           1.632130
PhoenixTucson          1.224438
Pittsburgh             1.364320
Plains                 1.436509
Portland               1.317722
RaleighGreensboro      1.555118
RichmondNorfolk        1.291331
Roanoke                1.247929
Sacramento             1.621568
SanDiego               1.398166
SanFrancisco           1.804201
Seattle                1.442574
SouthCarolina          1.403284
SouthCentral           1.101243
Southeast              1.398018
Spokane                1.445592
StLouis                1.430621
Syracuse               1.520325
Tampa                  1.408846
TotalUS                1.319024
West                   1.272219
WestTexNewMexico       1.261701
Name: AveragePrice, dtype: float64

In [29]:
data.groupby('region').mean()['AveragePrice'].max()
# HartfordSpringfield

1.8186390532544363

### 4) Find the total amount of income ( Avg_Price Total_Volume ) of each

In [30]:
# data["Income"] = ((data["AveragePrice"] * data["Total Volume"]))
data.groupby('region').sum()['Income']

region
Albany                 2.176672e+07
Atlanta                9.379337e+07
BaltimoreWashington    1.799084e+08
Boise                  1.534667e+07
Boston                 1.265429e+08
BuffaloRochester       3.154509e+07
California             1.121414e+09
Charlotte              4.574304e+07
Chicago                1.791106e+08
CincinnatiDayton       4.498958e+07
Columbus               3.156295e+07
DallasFtWorth          1.756093e+08
Denver                 1.459828e+08
Detroit                6.912624e+07
GrandRapids            3.785124e+07
GreatLakes             6.886618e+08
HarrisburgScranton     5.295472e+07
HartfordSpringfield    7.118645e+07
Houston                1.655713e+08
Indianapolis           3.402474e+07
Jacksonville           3.348396e+07
LasVegas               5.480905e+07
LosAngeles             4.842276e+08
Louisville             1.749555e+07
MiamiFtLauderdale      1.185815e+08
Midsouth               6.157238e+08
Nashville              3.572664e+07
NewOrleansMobile       4.867626e+07
NewYork                3.351955e+08
Northeast              9.600079e+08
NorthernNewEngland     8.962525e+07
Orlando                6.961121e+07
Philadelphia           9.981583e+07
PhoenixTucson          1.384515e+08
Pittsburgh             2.319481e+07
Plains                 3.600366e+08
Portland               1.128646e+08
RaleighGreensboro      5.983780e+07
RichmondNorfolk        4.734482e+07
Roanoke                2.740928e+07
Sacramento             9.480870e+07
SanDiego               9.352710e+07
SanFrancisco           1.858341e+08
Seattle                1.251791e+08
SouthCarolina          6.952808e+07
SouthCentral           8.740593e+08
Southeast              7.036306e+08
Spokane                1.715649e+07
StLouis                3.743946e+07
Syracuse               1.520519e+07
Tampa                  7.695906e+07
TotalUS                6.387593e+09
West                   1.066834e+09
WestTexNewMexico       1.215654e+08
Name: Income, dtype: float64

### 5) Let AVOCADO Average Weight :4046 => 4 ounces, 4225 => 9 ounces, 4770 => 12 ounces
#### Find the number of sold avocadoes by region ?

In [34]:
data.groupby('region').sum()['Total Volume']

region
Albany                 1.606780e+07
Atlanta                8.860512e+07
BaltimoreWashington    1.347139e+08
Boise                  1.441319e+07
Boston                 9.727398e+07
BuffaloRochester       2.296247e+07
California             1.028982e+09
Charlotte              3.555554e+07
Chicago                1.337023e+08
CincinnatiDayton       4.452201e+07
Columbus               2.999336e+07
DallasFtWorth          2.084193e+08
Denver                 1.389025e+08
Detroit                6.342242e+07
GrandRapids            3.021174e+07
GreatLakes             5.896425e+08
HarrisburgScranton     4.180886e+07
HartfordSpringfield    5.067054e+07
Houston                2.031679e+08
Indianapolis           3.026339e+07
Jacksonville           2.879000e+07
LasVegas               5.437691e+07
LosAngeles             5.078965e+08
Louisville             1.609700e+07
MiamiFtLauderdale      9.767322e+07
Midsouth               5.083494e+08
Nashville              3.561209e+07
NewOrleansMobile       4.569514e+07
NewYork                2.407341e+08
Northeast              7.132809e+08
NorthernNewEngland     7.153289e+07
Orlando                5.866070e+07
Philadelphia           7.183880e+07
PhoenixTucson          1.956433e+08
Pittsburgh             1.880635e+07
Plains                 3.111885e+08
Portland               1.105522e+08
RaleighGreensboro      4.820273e+07
RichmondNorfolk        4.223085e+07
Roanoke                2.504201e+07
Sacramento             7.516375e+07
SanDiego               8.979192e+07
SanFrancisco           1.358302e+08
Seattle                1.092142e+08
SouthCarolina          6.075377e+07
SouthCentral           1.011280e+09
Southeast              6.152384e+08
Spokane                1.556528e+07
StLouis                3.207283e+07
Syracuse               1.094267e+07
Tampa                  6.600454e+07
TotalUS                5.864740e+09
West                   1.086779e+09
WestTexNewMexico       1.445218e+08
Name: Total Volume, dtype: float64

#### Which region sold the largest number of avocados ?

In [33]:
data.groupby('region').sum()['4770']

region
Albany                 5.503733e+04
Atlanta                1.052484e+05
BaltimoreWashington    4.213755e+06
Boise                  1.077134e+06
Boston                 1.684016e+06
BuffaloRochester       4.878556e+04
California             3.184105e+07
Charlotte              3.913522e+06
Chicago                1.996539e+07
CincinnatiDayton       1.156307e+06
Columbus               1.675076e+06
DallasFtWorth          4.222574e+06
Denver                 2.706165e+06
Detroit                8.614803e+06
GrandRapids            3.307837e+06
GreatLakes             5.007597e+07
HarrisburgScranton     7.434063e+04
HartfordSpringfield    1.702536e+05
Houston                5.455471e+06
Indianapolis           1.391161e+06
Jacksonville           7.342605e+04
LasVegas               1.172357e+06
LosAngeles             1.361869e+07
Louisville             3.394966e+05
MiamiFtLauderdale      1.054005e+05
Midsouth               1.903196e+07
Nashville              6.455284e+05
NewOrleansMobile       2.082379e+05
NewYork                1.746802e+06
Northeast              6.816645e+06
NorthernNewEngland     1.315387e+06
Orlando                4.856253e+04
Philadelphia           5.999311e+05
PhoenixTucson          2.149380e+06
Pittsburgh             2.869658e+05
Plains                 2.494474e+06
Portland               2.854265e+06
RaleighGreensboro      4.027114e+06
RichmondNorfolk        1.169414e+06
Roanoke                2.653218e+04
Sacramento             1.553161e+06
SanDiego               3.108122e+06
SanFrancisco           3.649315e+06
Seattle                1.015345e+06
SouthCarolina          1.558374e+06
SouthCentral           2.239579e+07
Southeast              3.163231e+06
Spokane                2.802191e+05
StLouis                2.648867e+04
Syracuse               2.811058e+04
Tampa                  3.898951e+04
TotalUS                1.561752e+08
West                   2.035607e+07
WestTexNewMexico       2.969474e+06
Name: 4770, dtype: float64

In [32]:
data.groupby('region').sum()['4770'].max()
# TotalUS

156175183.13000005

### 6) Normally, the customers buy the avocados by unit or in a bags ?

In [16]:
# Bags

### 7) Which month is the best time to sell avocado

In [36]:
data.groupby('month').mean()['AveragePrice']

month
1.January      1.311019
10.October     1.579683
11.November    1.455563
12.December    1.331112
2.Febuary      1.274387
3.March        1.332255
4.April        1.374380
5.May          1.346601
6.June         1.408964
7.July         1.462077
8.August       1.512514
9.September    1.572654
Name: AveragePrice, dtype: float64

In [37]:
data.groupby('month').mean()['AveragePrice'].max()
# September

1.5796825396825367

### 8)Base on the data in 2015, is it true that the region which higher population can sell more avocados?

In [ ]:
# Wait for Solution