# Week2_Python style

### 3. Python Programming Condition  Loop; GIT

### 3.1 Basic Data Types
### Number

In [1]:
2 ** (2 + 2)

16

In [2]:
1j ** 2

(-1+0j)

In [3]:
1. + 3.0j

(1+3j)

# String

In [4]:
"""This is a long, long string"""

'This is a long, long string'

In [5]:
print('This is\n a long,\n long string')

This is
 a long,
 long string

# Boolean expressions

In [6]:
2 >= 4

False

In [7]:
2<3<4

True

In [8]:
2 < 3 and 3< 2

False

In [9]:
2 != 3 < 4 or False

True

In [10]:
2 <= 2 and 2 >= 2

True

In [11]:
not 2 == 3

True

In [12]:
not False or True and False

True

# String Conversion

In [13]:
string = '123.456'
type(string)

str

In [14]:
f = float(string)
type(f)

float

In [15]:
string + 1

In [16]:
f + 1

124.456

In [17]:
print(int(string))

In [18]:
print(int('1234'))

1234

In [19]:
print(int('Hello'))

In [20]:
s = str(f)
print(s)

123.456

In [21]:
type(s)

str

In [22]:
# Quis 8
c = float('30.5')

In [23]:
type(c)

float

In [24]:
C = str(c)

In [25]:
C

'30.5'

In [26]:
type(C)

str

In [27]:
d = int('100')
d

100

In [28]:
type(d)

int

In [29]:
D = str(d)

In [30]:
D

'100'

In [31]:
type(D)

str

# Special Characters
#      Escape code

In [32]:
print('Manchester\n United')

Manchester
 United

In [33]:
print('Manchester\r United')

 United

In [34]:
print('Manchester\t United')

Manchester	 United

In [35]:
print('Manchester\v United')

Manchester United

In [36]:
print('Manchester\b United')

Manchester United

In [37]:
print('Manchester\f United')

Manchester United

In [38]:
print('Manchester\a United')

Manchester United

In [39]:
print('Manchester\' United')

Manchester' United

In [40]:
print('Manchester\" United')

Manchester" United

In [41]:
print('Manchester\? United')

Manchester\? United

In [42]:
print('Manchester\\ United')

Manchester\ United

# Operator and Operand

In [43]:
2 + 3

5

In [44]:
# Operater: +
# Operand: 2, 3
# Output: 5

# Arithmetic Operators

In [45]:
# +    call Add
# -    call Subtract or Minus
# *    call Multiply or time
# /    call Divide
# %    call Modulus หาค่าเศษของการหาร มักใช้ในเงื่อนไข
# //   call Floor division ผลของการหารไม่เอาเศษ เช่น 7/2 = 3.5 จะได้ 3
# **   call Exponent ยกกำลัง **ถ้าSquea rootใช้เศษส่วนช่วย เช่น 25**(1/2) = 5

In [46]:
25**(1/2)

5.0

In [47]:
# Comparison Operators
#     Result: True/False

In [48]:
# >    call Greater than
# <    call Less than
# ==   call Equal
# !=   call not equal
# >=   call Greater than or equal to
# <=   call Less than or equal to

# Logical Operators

In [49]:
# and     meaning True if both the operands are true
# or      meaning True if either the operands are true
# not     meaning True if operant is false (complement the operand)

In [50]:
# Example
x = True
y = False

In [51]:
True and False

False

In [52]:
True or False

True

In [53]:
not True

False

In [54]:
not False

True

# Python Operators Precedence ลำดับขั้นในการใช้ operator

In [55]:
##  **
##  ~ + -
##  *  /  %  //
##  +  -
##  >>    <<
##  &
##  ^    |
##  <=  <   >   >=  comparasion operators
##  <  >  ==  !=    equality operators
##  =   %=  /=  //=  -=  +=  *=  **=    Assignment operators
##  is   is not
##  in   not in
##  not    or    and

In [56]:
y = 2 * 5 * 5 - 3 * 5 + 7
y

42

#  More Math Operations with Python

In [57]:
     # Trigonometric :  sin, cos, tan, asin , acos ,

     # Exponential and Logarithmic : exp, log, log2, log10, …

     # Power :  pow, sqrt, …

     # Rounding :  ceil, floor

     # Others :  abs, …

     # Constant :  pi, e

In [58]:
#Example

# importing built in module math
import math

# using square root(sqrt) function contained
# in math module
print(math.sqrt(25))


# pi and e value
print(math.pi, math.e)


# 2 radians = 114.59 degreees
print(math.degrees(2))


# 60 degrees = 1.04 radians
print(math.radians(60))


# Sine of 2 radians
print(math.sin(2))


# Cosine of 0.5 radians
print(math.cos(0.5))


# 1 * 2 * 3 * 4 = 24
print(math.factorial(4))


# ceil
print(math.ceil(5.49))

5.0
3.141592653589793 2.718281828459045
114.59155902616465
1.0471975511965976
0.9092974268256817
0.8775825618903728
24
6

# Input / Output

In [59]:
print ("Hello, world!")
age = 40
print ("You have",60 - age, "years until retirement")

Hello, world!
You have 20 years until retirement

In [60]:
a = input('Please enter your name:')
print('My name is', a)

Please enter your name:Somchai
My name is Somchai

# input(): Split

In [61]:
fname, lname = input('Enter yourname:').split()

Enter yourname:Nattawat Wattanawiput

In [62]:
"Jurgen Cristsman"

'Jurgen Cristsman'

# Q09 : Learning by Doing: What is the format function ?

In [63]:
print('I love {} for "{}!"'.format('Geeks','Geeks'))

I love Geeks for "Geeks!"

In [64]:
print('{0} and {1}'.format('Geeks', 'Portal'))

print('{1} and {0}'.format('Geeks', 'Portal'))

Geeks and Portal
Portal and Geeks

# Repetition (loops) and Selection (if/else)

# Loop

In [65]:
L =[1,2,10]
for s in L:
    print(s * 2)

2
4
20

In [66]:
#  for elt in my_list:
#      do_something
#      something_else
#  print('loop finished')

# Condition

In [67]:
x = 3
if x >= 0:
    print(x)
else:
    print(-x)

3

# Function

In [68]:
def f(x):
    return 2*x +1
x =int(input())
print(f(x))

2
5

In [69]:
# Quiz 10

def f(x):
    return x**2 + 0.25*x - 5

if f(2.3) == 0:
    print('f(2.3) == 0')
elif f(2.3) != 0:
    print('f(2.3) != 0')

f(2.3) != 0

In [70]:
# Quiz 11 Half adder

def Sum(A, B):
    X =(A and (not B)) or (B and (not A));  
    return X

def Carry(A, B):
    Y = A and B;                             
    return Y

A = int(input("First digit:"))
B = int(input("Second digit:"))
print('Sum = ',str(int(Sum(A, B))))
print('Carry =',str(int(Carry(A, B))))

First digit:1
Second digit:0
Sum =  1
Carry = 0

In [71]:
# Quiz 12 Full Adder

A = int(input("A:"))
B = int(input("B:"))
C_IN = int(input("C-IN:"))

""" First Half Adder"""
Sum_1= (A and (not B)) or (B and (not A))

Carry_out1= A and B

""" Start to combine with Second Half Adder"""
Sum= (Sum_1 and (not C_IN)) or (C_IN and (not Sum_1))

Carry_out2= Sum_1 and C_IN

Carry_out= Carry_out1 or Carry_out2

""" Total is Full Adder"""

print('Sum = ',int(Sum))
print('Carry_out =',int(Carry_out))

A:1
B:1
C-IN:1
Sum =  1
Carry_out = 1