# Week1_Basic_Python_DS_Programming

# Expression

In [ ]:
# expression : A data value or set of operations to compute a value.

In [1]:
1 + 3 * 4

13

In [ ]:
# Order in which operations are computed.
# Parentheses can be used to force a certain order of evaluation.

In [2]:
(1+3)*4

16

In [ ]:
# When we divide integers with / , the quotient is also an integer.

In [3]:
35/7

5.0

In [4]:
84/10

8.4

In [ ]:
# Modulo The % operator computes the remainder from a division of integers. จะได้เศษ จากการหาร

In [5]:
14%4

2

# Real Numbers

In [ ]:
# The same rules of precedence also apply to real numbers:  Evaluate ( ) before * / % before +

In [6]:
7/3 * 1.2 + 3/2

4.300000000000001

In [7]:
((7/3)*1.2)+(3/2)

4.300000000000001

In [ ]:
# variable : A named piece of memory that can store a value.

In [8]:
x = 5
gpa = 3.14

In [10]:
# A variable that has been given a value can be used in expressions.
x + 4

9

In [ ]:
# print : Produces text output on the

In [11]:
# Syntax:
# Examples:
print ("Hello, world!")
age =40
print ("You have",60 - age, "years until retirement")

Hello, world!
You have 20 years until retirement

# input : Reads a number from user

In [13]:
# Example:
age = int(input("How old are you? "))
print ("Your age is", age)
print ("You have", 65-age, "years until retirement")

How old are you? 53
Your age is 53
You have 12 years until retirement

# The for loop

# for loop : Repeats a set of statements over a group of value.

In [16]:
# Example:
for x in range(1, 6):
    print(x, "squared is", x * x)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

# Range

In [ ]:
# range( start , stop) the integers between start (inclusive) and stop (exclusive)

# 3rd value
# range( start , stop, step) the integers between start (inclusive) and stop (exclusive) by step

In [25]:
#Example:
for x in range(5, 0):
    print (x)
print (x)

1

In [19]:
#Example:
for x in range(5, 0,-1):
    print (x)
print ("Blastoff!")

5
4
3
2
1
Blastoff!

# Cumulative loops

# Some loops incrementally compute a value that is initialized outside the loop. This is sometimes called a cumulative sum

In [27]:
sum = 0
for i in range(1, 6):
    sum = sum + (i * i)
print ("sum of first", i ,"squares is", sum)

sum of first 5 squares is 55

In [ ]:
# 1*1=1
# 2*2=4
# 3*3=9
# 4*4=16
# 5*5=25
# 1+4+9+16+25=55

# If

# if statement : Executes a group of statements only if a certain condition is true. Otherwise, the statements are skipped.

In [29]:
# Example:
gpa = 3.4
if gpa > 2.0:
    print ("Your application is accepted.")

Your application is accepted.

In [32]:
gpa =float(input("gpa"))
if gpa > 2.0:
    print ("Your application is accepted.")

gpa3.95
Your application is accepted.

# If  / Else

# if/else statement : Executes one block of statements if a certain condition is True, and a second block of statements if it is False.

In [34]:
#Example:
gpa =1.4
if gpa >2.0:
    print ("Welcome to CMU University!")
else:
    print ("Your application is denied.")

Your application is denied.

In [35]:
gpa =float(input("GPA="))
if gpa >2.0:
    print ("Welcome to CMU University!")
else:
    print ("Your application is denied.")

GPA=3.2
Welcome to CMU University!

# While loop

# while loop : Executes a group of statements as long as a condition is True. good for indefinite loops (repeat an unknown number of time)

In [39]:
#Example:
number = 1
while number < 200:
    print (number)
    number = number * 2

1
2
4
8
16
32
64
128

# Logic Operators

# string

# string : A sequence of text characters in a program.

In [40]:
"This is a string"
"This, too, is a string. It can be very"

'This, too, is a string. It can be very'

In [44]:
'Hello\tthere\nHow are you?'

'Hello\tthere\nHow are you?'

# Indexes

In [ ]:
# Characters in a string are numbered with indexes starting at 0:
# Accessing an individual character of a string: variableName index
# Accessing an individual character of a string: variableName [index]

In [45]:
name = "P. Diddy"
print (name, "starts with",name[0])

P. Diddy starts with P

# String properties

In [ ]:
#len( string)      - number of characters in a string (including spaces)
#str.lower( string )   -lowercase version of a string
#str.upper( string)   - uppercase version of a string

In [46]:
# Example:
name = "Martin Douglas Stepp"
length = len(name)
big_name = str.upper(name)
print (big_name, "has", length, "characters")

MARTIN DOUGLAS STEPP has 20 characters

# String input

In [ ]:
#input : Reads a string of text from user

In [47]:
# Example:
name = input("Howdy, pardner. What's yer name? ")
print (name, "... what a silly name!")

Howdy, pardner. What's yer name? Gumpoo JKN
Gumpoo JKN ... what a silly name!

# Text processing

In [ ]:
# text processing : Examining, editing, formatting often uses loops that examine the characters of a string one by one

In [50]:
# Example:
for c in "booyah":
      print (c)

b
o
o
y
a
h

# Strings and numbers

In [ ]:
# ord( text)        converts a string into a number.
# chr( number )     converts a number into a string.

In [51]:
ord('a')

97

In [54]:
chr(99)

'c'